@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: "Ubuntu", sans-serif;
  /* flexibele items but puts it in a row.  */
  display: flex;
  align-items: center;
  justify-content: center;
  /* om de objecten echt in het midden te krijgen moet je een hoogte aangeven */
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url("https://images.unsplash.com/photo-1493037875696-1f2eb8d732ed?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80")
    no-repeat center center/cover;
  position: absolute;
  top: -30;
  left: -30;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 90px;
  color: antiquewhite;
}
